<nav class="navbar navbar-expand-lg d-none d-sm-none d-md-block navbar-light bg-light">
  <div class="row mx-auto navStyle w-100">
    <div class="col-1 d-flex justify-content-center px-0">
      <img class="img-fluid nav-img" src="./assets/images/corona.png">
    </div>
    <div class="col-3 px-0 py-2">
      <span class="text-nav">COVID-19 TRACKER INDIA</span>
    </div>
    <div class="col d-flex justify-content-end">
      <ul class="navbar-nav d-flex justify-content-end">
        <li class="nav-item">
          <a class="nav-link" routerLink='Dashboard' routerLinkActive="act">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Clusters" routerLinkActive="act">Cluster</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Service-Availablity" routerLinkActive="act">Service Availability</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="World-Data" routerLinkActive="act">World Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Help/Helpfull-Links" routerLinkActive="act">Useful Link's</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Help/FAQ" routerLinkActive="act">FAQ's</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- <a class="navbar-brand fntNav" href="#">
      <img class="img-fluid nav-img" src="./assets/images/corona.png"> 
      <span class="text-nav"> COVID-19 INDIA</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink='Dashboard' routerLinkActive ="act">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Clusters" routerLinkActive = "act">Cluster</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Help" routerLinkActive = "act">Usefull Link's</a>
        </li>
         </ul>
    </div> -->
</nav>
<nav class="navbar navbar-light d-block d-sm-block d-md-none bg-white">
  <div class="row mx-auto navStyle w-100 d-flex justify-content-center">
    <div class="col-2 d-flex justify-content-center p-0">
      <img class="img-fluid nav-img" src="./assets/images/corona.png">
    </div>
    <div class="col-8 px-0 py-2">
      <span class="text-nav">COVID-19 TRACKER INDIA</span>
    </div>
  </div>
</nav>
<div class="navbar d-block d-sm-block px-0 py-0 pb-0 d-md-none navbar-light my-1 bg-light">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item px-0">
        <a class="nav-link bb-1" routerLink='Dashboard' routerLinkActive="act">
          <!-- Dashboard -->
          <i class="fa fa-tachometer" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item px-0">
        <a class="nav-link bb-1" routerLink="Clusters" routerLinkActive="act">
          <!-- Cluster -->
          <i class="fa fa-map-o" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item px-0">
        <a class="nav-link bb-1" routerLink="Service-Availablity" routerLinkActive="act">
          <!-- Service's -->
          <i class="fa fa-gears" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item px-0">
        <a class="nav-link bb-1" routerLink="World-Data" routerLinkActive="act">
          <!-- World Data -->
          <i class="fa fa-globe" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item px-0">
        <a class="nav-link bb-1" routerLink="notification" routerLinkActive="act">
          <!-- Notification -->
          <i class="fa fa-bell" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item px-0">
        <a class="nav-link bb-1" routerLink="Help/Helpfull-Links" routerLinkActive="act">
          <!-- Help/FAQ -->
          <i class="fa fa-link" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
</div>

<!-- <ng-template #popContent>
  <ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
</ng-template>
<ng-template #popTitle>Fancy <b>content!!</b></ng-template>  -->