
<!-- <div style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto" [chart]="donutChart"></div> -->

<!-- <div style="display: block">
    <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div> -->

  <div>
    <div>
      <div style="display: block">
        <canvas baseChart
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType">
        </canvas>
      </div>
    </div>
  </div>