.dash-container {
    .label {
        font-size     : 1em;
        font-weight   : 600;
        margin-right  : 8px;
        color         : #495057;
        text-transform: capitalize;
    }

    .resp {
        font-size     : .95em;
        font-weight   : 600;
        text-transform: capitalize;
        color         : #117a8b;
    }

    .img100 {
        width: 100px;
        height: 100px;
    }
    .algn{
        margin-top:5px;
    }
}