<div class="container-fluid dash-container w-100">
  <ngx-spinner></ngx-spinner>
  <div class="row mx-auto w-100 my-3">
    <div class="col-12 col-md-8">
      <span class="hTxt">INDIA COVID-19 TRACKER</span>
    </div>
    <div class="col-12 col-md-4 py-3">
      <span class="luD text-success"> Last Updated at {{lastUpdatedTime}}</span>
    </div>
  </div>

  <div class="row mx-auto w-100 my-2">
    <div class="col">
      <div class="card text-center w-100">
        <div class="card-header bg-info border-0">
          <span class="cdHd">
            Confirmed
          </span>
        </div>
        <div class="card-body bg-info p-1">
          <span class="cdBdC">
            {{totalConfirmed}}
          </span>
        </div>
        <div class="card-footer bg-info p-1">
          <div class="row mx-auto d-flex justify-content-center">
            <span class="ftTxt">
              Today's Confirmed
            </span>
          </div>
          <div class="row mx-auto d-flex justify-content-center">
            <span class="cdBdC-f">
              +{{todayConfirm}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center w-100">
        <div class="card-header bg-warning border-0">
          <span class="cdHd">
            Active
          </span>
        </div>
        <div class="card-body bg-warning p-1">
          <span class="cdBdA">
            {{totalActive}}
          </span>
        </div>
        <div class="card-footer text-center bg-warning p-1">
          <div class="row mx-auto d-flex justify-content-center">
            <span class="ftTxt">
              Today's Active
            </span>
          </div>
          <div class="row mx-auto d-flex justify-content-center">
            <span class="cdBdC-f">
              +{{todayActive}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center w-100">
        <div class="card-header bg-success border-0">
          <span class="cdHd">
            Recovered
          </span>
        </div>
        <div class="card-body bg-success p-1">
          <span class="cdBdR">
            {{totalRecovered}}
          </span>
        </div>
        <div class="card-footer text-center bg-success p-1">
          <div class="row mx-auto d-flex justify-content-center">
            <span class="ftTxt">
              Today's Recovered
            </span>
          </div>
          <div class="row mx-auto d-flex justify-content-center">
            <span class="cdBdC-f">
              +{{todayRecover}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card  text-center w-100">
        <div class="card-header bg-danger border-0">
          <span class="cdHd">
            Death
          </span>
        </div>
        <div class="card-body bg-danger p-1">
          <span class="cdBdD">
            {{totalDeath}}
          </span>
        </div>
        <div class="card-footer text-center bg-danger p-1">
          <div class="row mx-auto d-flex justify-content-center">
            <span class="ftTxt">
              Today's Death
            </span>
          </div>
          <div class="row mx-auto d-flex justify-content-center">
            <span class="cdBdC-f">
              +{{todayDeath}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mx-auto w-100 my-2">
    <div class="card w-100">
      <div class="card-header">
        <div class="row mx-auto">
          <div class="col-12 col-md-8 px-0">
            <span class="lblTxt">
              Last Patient Reported at {{latstate}} - (Patient ID: {{latpatientId}})
            </span>
            
          </div>
          <div class="col-12 col-md-4 pt-3 pt-md-0 px-0">
            <div class="input-group mb-3">
              <input type="number" class="form-control form-control-sm" placeholder="Search by Patient ID" #searchValue
                aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button (click)="onKeySearch(searchValue.value)" class="btn btn-sm btn-info" *ngIf="!clrSrch"><i class="fa fa-search"></i></button>
                <button (click)="clearSearch()" class="btn btn-sm btn-danger" *ngIf="clrSrch"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <span><i class="fa fa-chevron-right pull-right" title="Next Patient" (click)="nextPat()"></i></span>
        <span><i class="fa fa-chevron-left pull-right" title="Previous Patient" (click)="prevPat();"></i></span>
      </div>
      <div class="card-body p-0">
        <div class="row mx-auto">
          <div class="col-12 col-md-2 d-flex justify-content-center border-right-md border-bottom p-2 p-md-2">
            <img src="./assets/images/male.png" class="img-fluid img100" *ngIf="latgender === 'male'">
            <img src="./assets/images/female.png" class="img-fluid img100" *ngIf="latgender === 'female'">
            <img src="src/assets/images/trans.png" class="img-fluid img100" *ngIf="latgender === 'others'">
          </div>
          <div class="col-10">
            <div class="row mx-auto  py-1">
              <div class="col-12 col-md-3">
                <span class="label">Patient ID:</span>
                <span class="resp"> {{latpatientId}} </span>
              </div>
              <div class="col-12 col-md-3">
                <span class="label">Reported:</span>
                <span class="resp"> {{latReportedOn}} </span>
              </div>
              <div class="col">
                <span class="label">Status:</span>
                <span class="resp"> {{latstatus}} </span>
              </div>
            </div>
            <div class="row mx-auto py-1">
              <div class="col-12 col-md-3">
                <span class="label">Age:</span>
                <span class="resp"> {{latageEstimate}} </span>
              </div>
              <div class="col-12 col-md-3">
                <span class="label">Gender:</span>
                <span class="resp"> {{latgender}} </span>
              </div>
              <div class="col">
                <span class="label">Source:</span>
                <a href="{{latsource}}" target="_blank" class="resp" *ngIf="latsource !== 'Not Known'"> {{latsource}}
                </a>
                <span class="resp" *ngIf="latsource === 'Not Known'"> {{latsource}} </span>
              </div>
            </div>
            <div class="row mx-auto py-1">
              <div class="col-12 col-md-3">
                <span class="label">City:</span>
                <span class="resp"> {{latcity}} </span>
              </div>
              <div class="col-12 col-md-3">
                <span class="label">District:</span>
                <span class="resp"> {{latdistrict}} </span>
              </div>
              <div class="col">
                <span class="label">State:</span>
                <span class="resp"> {{latstate}} </span>
              </div>
            </div>
            <div class="row mx-auto py-1">
              <div class="col">
                <span class="label">Contracted From:</span>
                <span class="resp"> {{latcontractedFrom}} </span>
              </div>
            </div>
            <div class="row mx-auto py-1">
              <div class="col">
                <span class="label">Notes:</span>
                <span class="resp"> {{latnotes}} </span>
              </div>
            </div>
            <div class="row mx-auto py-1">
              <div class="col">
                <span class="label">Travel History:</span>
                <span class="resp"> {{lattravel}} </span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mx-auto w-100 my-2">
    <div class="card w-100">
      <div class="card-header">
        State wise Data
      </div>
      <div class="card-body p-0">
        <table class="table table-striped table-light table-responsive-sm wd-100">
          <thead>
            <tr>
              <th scope="col">State</th>
              <th scope="col">Confirmed</th>
              <th scope="col">Active</th>
              <th scope="col">Recovered</th>
              <th scope="col">Death</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor='let statedata of dataArray; let i=index'>
              <tr
                *ngIf="statedata.confirmed !== '0' || statedata.active !== '0' || statedata.recovered !== '0' || statedata.deaths !== '0'"
                [ngClass]="{'totalCount': statedata.state === 'Total'}">
                <td>
                  <span [ngClass]="{'totalCount': statedata.state === 'Total'}">{{statedata.state}}</span>
                </td>
                <td>
                  <span [ngClass]="{'totalCount': statedata.state === 'Total'}">
                    {{statedata.confirmed}}
                    <span class="badge badge-danger">
                      <i class="fa fa-arrow-up " *ngIf='statedata.delta.confirmed > 0'>
                        {{statedata.delta.confirmed}} New
                      </i>
                    </span>

                  </span>
                </td>
                <td>
                  <span [ngClass]="{'totalCount': statedata.state === 'Total'}">
                    {{statedata.active}}
                    <span class="badge badge-danger">
                      <i class="fa fa-arrow-up " *ngIf='statedata.delta.active > 0'>
                        {{statedata.delta.active}} New
                      </i>
                    </span>

                  </span>
                </td>
                <td>
                  <span [ngClass]="{'totalCount': statedata.state === 'Total'}">
                    {{statedata.recovered}}
                    <span class="badge badge-danger">
                      <i class="fa fa-arrow-up " *ngIf='statedata.delta.recovered > 0'>
                        {{statedata.delta.recovered}} New
                      </i>
                    </span>


                  </span>
                </td>
                <td>
                  <span [ngClass]="{'totalCount': statedata.state === 'Total'}">
                    {{statedata.deaths}}
                    <span class="badge badge-danger">
                      <i class="fa fa-arrow-up " *ngIf='statedata.delta.deaths > 0'>
                        {{statedata.delta.deaths}} New
                      </i>
                    </span>

                  </span>
                </td>
              </tr>
            </ng-container>
            <!-- *ngIf="statedata.confirmed !== 0 || statedata.active !== 0 || statedata.recovered !== 0 || statedata.deaths !== 0" -->


          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- <canvas id="myChart" width="700" height="250" #mychart></canvas> -->