<div class="row st-container mx-auto w-100 my-2">
        <div class="card w-100">
          <div class="card-header bg-secondary">
            <label class="text-light">Search State </label>
            <div class="input-group">
              <input type="text" class="form-control form-control-sm text-capitalize" placeholder="Search by State" #searchState
                aria-label="Search State" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button (click)="onKeySearch(searchState.value)" class="btn btn-sm btn-info"><i
                    class="fa fa-search"></i></button>
                <button (click)="clearSearch()" class="btn btn-sm btn-danger" *ngIf="btnhd"><i
                    class="fa fa-times"></i></button>
              </div>
            </div>
          </div>
          <div class="card-body px-1"  *ngIf = '!swtchView'>
            <div class="row mx-auto w-100 my-2">
              <div class="col-md-3 col-6 px-1"> 
                <div class="card-counter primary">
                  <i class="fa fa-users"></i>
                  <span class="count-numbers">{{srchCnf}}</span>
                  <span class="count-name">Confirmed</span>
                </div>
              </div>
          
              <div class="col-md-3 col-6 px-1">
                <div class="card-counter success-ac">
                  <i class="fa fa-user-o"></i>
                  <span class="count-numbers">{{srchRcv}}</span>
                  <span class="count-name">Recoverd</span>
                </div>
              </div>
          
              <div class="col-md-3 col-6 px-1">
                <div class="card-counter warning">
                  <i class="fa fa-user"></i>
                  <span class="count-numbers">{{srchAct}}</span>
                  <span class="count-name">Active</span>
                </div>
              </div>
          
              <div class="col-md-3 col-6 px-1">
                <div class="card-counter danger-dt">
                  <i class="fa fa-user-times"></i>
                  <span class="count-numbers">{{srchDt}}</span>
                  <span class="count-name">Death</span>
                </div>
              </div>
    
              <div class="col-12 col-md-12 d-flex justify-content-center my-2">
                <span class="alert alert-warning mb-0">Tested data last updated on {{agoUpdatedOn}} (i.e. {{updatedOn}}) </span>
              </div>
    
              <div class="col-md-3 col-6 px-1">
                <div class="card-counter info">
                  <i class="fa fa-thermometer-half"></i>
                  <span class="count-numbers">{{totaltested}}</span>
                  <span class="count-name">Total Tested</span>
                </div>
              </div>
    
              <div class="col-md-3 col-6 px-1">
                <div class="card-counter alert">
                  <i class="fa fa-user-secret"></i>
                  <span class="count-numbers">{{unconfirmed}}</span>
                  <span class="count-name">Unconfirmed Cases</span>
                </div>
              </div>
              <div class="col-md-3 col-6 px-1">
                <div class="card-counter danger">
                  <i class="fa fa-plus-circle"></i>
                  <span class="count-numbers">{{positive}}</span>
                  <span class="count-name">Positive Cases</span>
                </div>
              </div>
    
              <div class="col-md-3 col-6 px-1">
                <div class="card-counter success">
                  <i class="fa fa-minus-circle"></i>
                  <span class="count-numbers">{{negative}}</span>
                  <span class="count-name">Negetive cases</span>
                </div>
              </div>
            </div>
    
            <!-- <div class="row mx-auto w-100 my-2">
              <div class="row mx-auto d-flex justify-content-center">
                <span class="text-info">Tested data last updated on {{updatedOn}} </span>
              </div>
            </div> -->
    
            <div class="row mx-auto w-100 my-2">
              <div class="col-12 col-sm-6 col-md-3 py-3" *ngFor="let stateWise of nwAr;let i=index">
                <div class="card">
                  <div class="card-header bg-secondary text-white">
                    {{stateWise.name}}
                  </div>
                  <div class="card-body crdHt p-0">
                    <table class="table table-striped w-100">
                      <thead>
                        <tr>
                          <th scope="col">District</th>
                          <th scope="col">Confirmed</th>
                          <th scope="col">Active</th>
                          <th scope="col">Recovered</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor='let disData of stateWise.details'>
                          <td>
                            <span>
                              {{disData.name}}
                            </span>
                          </td>
                          <td>
                            <span>
                              {{disData.details.confirmed}}
                            </span>
                            <span class="badge badge-danger">
                              <i class="fa fa-arrow-up" *ngIf='disData.details.delta.confirmed > 0'>
                                {{disData.details.delta.confirmed}} New
                              </i>
                            </span>
                          </td>
                          <td>{{disData.details.active}}</td>
                          <td>{{disData.details.recovered}}</td>
                        </tr>
          
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>