<div class="container-fluid dash-container w-100">

    <div class="card bg-info my-2 border-0 rounded-0 w-100" *ngFor="let logs of newLogArr; let i=index ">
        <div class="card-body px-3 py-1">
            <div class="row mx-auto p-0">
                <span class="txtM text-light">
                    {{logs.update}}
                </span>
            </div>
        </div>
        <div class="card-footer px-3 py-1">
            <div class="row mx-auto d-flex justify-content-end text-light tmstmp">
                {{logs.time}}
            </div>
        </div>
    </div>

</div>